* {
    font-family: "Raleway", sans-serif;
  }
  
  * {
      margin: 0;
      padding: 0;
  }
  
  nav {
      display: flex;
      justify-content: center;
      top: 0px;
      left: 0px;
      width: 1280px;
      height: 73px;
      background: #000000 0% 0% no-repeat padding-box;
      opacity: 1;
  }
  
  
  h1 {
      height: 59px;
      text-align: left;
      font: normal normal medium 50px/59px Raleway;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
  }
  
  header {
    top: 73px;
    left: 0px;
    width: 1280px;
    height: 727px;
    /* UI Properties */
    background: transparent url('img/photo-1516008805996-d2abb468cc9a.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  main {
      display: flex;
      justify-content: space-around;
      align-items: center;
      top: 800px;
      left: 0px;
      width: 1280px;
      height: 348px;
      background: #000000 0% 0% no-repeat padding-box;
      opacity: 1;
  }
  main p{
      width: 475px;
      text-align: left;
      font: normal normal 300 16px/19px Raleway;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
  }
  
  main img{
  
      top: 845px;
      left: 731px;
      width: 399px;
      height: 237px;
      background: transparent url('img/photo-1492963892107-740cd39d9ff3.png') 0% 0% no-repeat padding-box;
      opacity: 1;
  }
  
  section {
    top: 1141px;
    left: 0px;
    width: 1280px;
    height: 348px;
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.98;
  }
  
  .container p {
      text-align: center;
      font: normal normal 300 25px/30px Raleway;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
  }
  
  .carac {
      position:relative;
      top: 50px;
      height: 47px;
      text-align: center;
      font: normal normal medium 40px/47px Raleway;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
  }
  
  .container {
      position: relative;
      top: 100px;
      display: flex;
      justify-content: space-around;
      text-align: center;
      font: normal normal 300 24px/29px Raleway;
      letter-spacing: 0px;
      color: #271818;
      opacity: 1;
  }
  
  .container p {
      position: relative;
      top: 16px;
  }
  
 .fotos {
    top: 1488px;
    left: 0px;
    width: 1280px;
    height: 348px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.96;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .fotos img{
      width: 316px;
      height: 202px;
      background: transparent url('img/photo-1487252665478-49b61b47f302.png') 0% 0% no-repeat padding-box;
      opacity: 1;
  }
  
  footer {
      display: flex;   
      align-items: center;
      justify-content: center;
      top: 1835px;
      left: 0px;
      width: 1280px;
      height: 102px;
      background: #1E1A13 0% 0% no-repeat padding-box;
      opacity: 0.94;
      font: normal normal 300 20px/24px Raleway;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
  }
  